#admin-menu a.icon-project-aliases {
    background-image: url(../images/aliases.png);
}
.icon-rename {
    background-image: url(../images/rename.png);
}
table.list td.alias,
table.list td.identifier,
table.list td.project {
    text-align: left;
}
